@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

.headerDiv {
  font-family: 'Mogra', cursive;

}
.searchInput {
  float: left;
  margin-left: 27%;
  width: 40%;
}

footer {
  position: absolute;
  background-color: #6b7791;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  border-top-style: ridge;
  color: white;
  text-align: center;
}

.homeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h3 {
  margin-bottom: 10%;
}
.image-container {
  position: relative;
}

.presImg1 {
  position: absolute;
  top: 7rem;
  left: 23%;
  transform: rotate(45deg);
}
.presImg2 {
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  top: 11rem;
  z-index: 1;
}

.homeList {
  display: flex;
  width: 100vw;
  padding: 0px;
  list-style: none;
}

.homeList h3{
  font-size: 4rem;
  padding-top: 2%;
  flex-grow: 1;
  text-align: center;
  font-family: 'Mogra', cursive;
}

footer {
  font-family: 'Mogra', cursive;
  position: fixed;
}

.cardsDiv{
  width: 98%;
  height: 100%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.deleteSuccessMessage {
  z-index: 999;
  position: absolute;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #11b311;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.deleteText {
  color: white;
  font-weight: bold;
}